*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 10px;
}
.header{
    text-align:center;
}
.radioQuestion{
    padding: 5px;
}
.header-survey>*{
    font-size: 1em;
    text-transform: capitalize;
}
.table-response th , tr , td{
    text-transform: capitalize;
    text-align: center;
    border: 1px outset black;
    padding: 2px;
  }

.header-response > *{
    text-transform: capitalize;
    font-size: 1.5em;
    margin: 2px;
    padding: 3px;
}
.container-survey p{
    margin: 0;
    padding: 1px;
    font-size: 1.1em;
}

